@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
} 
html, body {
    height: 100%;
}
body {
    text-align: center;
}
.kotak {
    width: 25px;
    height: 25px;
    margin: 10px auto;
}
.merah {background-color: red;}
.hijau {background-color: green;}
.biru {background-color: blue;}
.biru-muda {
    background-color: lightblue;
}